// GLOBAL VARIABLES STARTS HERE
$headings:  'Alata', sans-serif;
$paragraphs: 'Roboto Condensed', sans-serif;

// GLOBAL VARIABLES ENDS HERE

// GLOBAL MIXINS STARTS HERE
@mixin fontSize1($sizeValue) {
    font-family: $headings;
    font-size: $sizeValue;
}

@mixin fontSize2($sizeValue) {
    font-family: $paragraphs;
    font-size: $sizeValue;
}

// GLOBAL MIXINS ENDS HERE

// GLOBAL STYLES STARTS HERE
html {
    font-size:125%;
    font-family: $headings;
}

img {
    display:block;
    width:100%;
}

ul {
    margin: 0;
    padding: 0;
    li {
        list-style:none;
        margin: 0;
        padding: 0;
    }
}

.wrapper {
    width:85%;
    max-width:1280px;
    margin: 0 auto;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration:none;
}

p {
    @include fontSize2(.9rem);
    // line-height:30px;
}

.scrollToTop {
    display:none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
    border-radius: 50%;
    padding: 0;
}

.scrollToTop i {
    color: black;
    font-size: 2rem;
    padding: 10px;
    border-radius: 100%;
    transition: all 0.5s;
}

.scrollToTop:hover i {
    background: $accentColour;
    color: $primaryColour; 
}
// GLOBAL STYLES ENDS HERE