// HEADER CONTENT STARTS HERE
header {
    // background:$secondaryColour;
    background:rgb(186,0,24);
    .wrapper {
        position: relative;
        padding-bottom: 80px;
    }
    .headerOverlay {
        position: absolute;
        // top:0;
        // z-index: 10;
        h1 {
            @include fontSize1(4rem);
            margin-top: 20px;
            cursor:default;
            &:hover span {
                text-shadow: 5px 5px $tertiaryColour;
            }
        }
        span {
            transition: text-shadow 0.5s ease-in;
        }
    }
    .headerImage {
        margin:0 auto;
        position: relative;
        top: 124px;
    }
    .buttons {
        position: absolute;
        z-index: 1;
        top: 0;
        display:flex;
        justify-content:flex-end;
        width: 100%;
    }
    .loginButton,
    .signUpButton,  
    .signOutButton {
        background:none;
        border:none;
        color:$primaryColour;
        transition: all .3s;
        &:hover {
            opacity:.5;
        }
    }
    .loginButton {
        margin-right: 25px;
        &:after {
            content:'';
            width:1px;
            height:20px;
            border-right: 2px solid $primaryColour;
            position: absolute;
            top:5px;
            right:100px;
        }
    }
    .signOutButton {
        display: none;
    }
    .loginModal,
    .signUpModal {
        display: none;
        position: fixed;
        z-index: 99;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
        overflow: auto;
        padding: 50px;
        background-color: $primaryColour;
        // border: 1px $accentColour solid;
        border:1px solid rgba(0,0,0,.2);
        border-radius: 5px;
        box-shadow:5px 5px 20px rgba(0,0,0,.5);
        -webkit-animation: fade 1s linear;
                animation: fade 1s linear;
    }
    .showLoginModal,
    .showSignUpModal {
        display: block;
    }
    .login.modal,
    .signUp.modal {
        width: 800px;
        margin: 0 auto;
    }
    .modalContent {
        text-align: left;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .close {
    //   text-align: right;
      position: absolute;
      top: 10px;
      right: 15px;
      cursor:pointer;
    }
    input {
        @include fontSize2(.9rem);
        margin-top: 5px;
        padding: 5px;
    }
    input[type=submit] {
        background:$secondaryColour;
        color:$primaryColour;
        border:1px transparent solid;
        padding-left: 20px;
        padding-right: 20px;
        transition: all .3s;
        &:hover {
            background:$primaryColour;
            color:$secondaryColour;
            border:1px $secondaryColour solid;
        }
    }
    .awardImage img {
        position: absolute;
        top:80px;
        right:20px;
        width: 200px;
        // add css shine?
    }
    .awardText {
        margin-top: -10px;
        display:none;
    }
}

// MEDIA QUERIES
@media (max-width:1500px) {
    header {
        .headerImage {
            top: 120px;
        }
    }
}

@media (max-width:1400px) {
    header {
        .headerImage {
            top: 116px;
        }
    }
}

@media (max-width:1210px) {
    .loginModal,
    .signUpModal {
        padding: 50px 40px;
        // border: 6px solid $tertiaryColour;
    }
}

@media (max-width:1200px) {
    header {
        .headerImage {
            top: 112px;
        }
    }
}

@media (max-width:1100px) {
    header {
        .headerImage {
            top: 108px;
        }
    }
}

@media (max-width:1080px) {
    .loginModal,
    .signUpModal {
        padding: 50px 30px;
        // border: 4px solid $tertiaryColour;
    }
}

@media (max-width:1000px) {
    header {
        .headerImage {
            top: 104px;
        }
    }
}

@media (max-width:900px) {
    header {
        .headerImage {
            top: 100px;
        }
        .loginModal,
        .signUpModal {
            padding: 50px 20px;
            // border: 2px solid $tertiaryColour;
        }
    }
}

@media (max-width:800px) {
    header {
        .headerImage {
            top: 96px;
        }
        .awardImage img {
            width: 150px;
        }
    }
}

@media (max-width:600px) {
    header {
        .headerImage {
            top: 92px;
        }
        .awardImage img {
            display:none;
        }
        .awardText {
            display:block;
        }
        .loginButton {
            margin-right: 0px;
            &:after {
                right:85px;
            }
        }
    }
}

@media (max-width:475px) {
    header {
        .loginButton {
            &:after {
                height:15px;
                right:70px;
            }
        }
    }
}

@media (max-width:400px) {
    header {
        .headerImage {
            top: 88px;
        }
    }
}

// HEADER CONTENT ENDS HERE