// MAIN STYLES STARTS HERE
main {
    background: $secondaryColour;
    padding: 0px 0px 60px 0px;
    .wrapper {
        background: $quaternaryColour;
        border-radius:25px;
        padding-top: 20px;
    }
}

.cuisineButtons {
    padding: 50px 50px 0px;
    ul {
        display:flex;
        flex-wrap:wrap;
        justify-content:space-around;
        padding:20px 0px;
    }
    li {
        width:calc(100% / 4);
        text-align:center;
    }
    a {
        overflow:hidden;
        display:inline-block;
        width: 200px;
        height: 200px;
        border-radius: 100%;
        border: 8px solid $tertiaryColour;
        &:hover,
        &:focus {
            border: 8px solid transparent;
        }
    }
    p {
        text-transform: capitalize;
    }
    a:focus img {
        transform: scale(1.2);
    }
    img {
        object-fit:cover;
        width:100%;
        height:100%;
        transition: all 0.3s;
        &:hover {
            transform: scale(1.2);
        }
    }
    form {
        display:none;
    }
    select {
        width:100%;
        border-radius:25px;
        border:1px solid rgba(0,0,0,.2);
        padding:10px;
        font-weight:bold;
        margin:10px 0px;
        text-transform: capitalize;
    }
}

.restaurantOptions {
    padding: 50px 50px 100px;
    position: relative;
    h2 {
        display: none;
        text-transform: capitalize;
    }
    ul {
        padding: 20px 0;
        display:flex;
        flex-wrap:wrap;
        justify-content:flex-start;
    }
    li {
        width:calc((100% - 80px) / 3);
    }
    li:nth-child(3n - 1) {
        margin: 0px 40px;
    }
    .itemDetails {
        background: $primaryColour;
        border: 1px solid rgba(0,0,0,.2);
        height:425px;
        margin-bottom: 40px;
        position: relative;
        border-radius: 5px;
        overflow:hidden;
        a {
            overflow: hidden;
            display: block;
        }
        a:focus img {
            transform: scale(1.2);
        }
        img {
            height:200px;
            object-fit: cover;
            border-radius: 5px;
            transition: all 0.3s;
            &:hover {
                transform: scale(1.2);
            }
        }
        .bookmark, .starRating {
            position: absolute;
            top: -1px;
            z-index: 1;
        }
        .bookmark {
            left: -1px;
            cursor:pointer;
        }
        .fa-bookmark {
            color: $tertiaryColour;
            font-size:2rem;
            transition: all 0.3s;
            &:hover {
                transform:scaleY(2);
            }
        }
        .fa-bookmark.saved {
            transform:scaleY(2);
        }
        .starRating {
            background:$secondaryColour;
            right:0;
            padding: 15px 25px;
            border-radius: 0px 0px 0px 5px;
            p {
                position: absolute;
                top:5px;
                right:15px;
                z-index:2;
                color:$primaryColour;
            }
        }
        .fa-star {
            position: absolute;
            color:$primaryColour;
            top:10px;
            right:3.5px;
            font-size:1rem;
        }
        .description {
            padding: 20px;
            p {
                opacity:50%;
            }
        }
        .address {
            text-transform:uppercase;
        }
        .priceAndReviews {
            margin-top: 10px;
        }
        span {
            background:rgba(0,0,0,.1);
            padding: 5px;
        }
    }
}

.bookmarkSection {
    @extend .restaurantOptions;
    display: none;
    h2 {
        padding-bottom: 40px;
    }
}

// PRELOADER THANKS TO https://loading.io/css/
.preloader {
    display: none;
    position: absolute;
    width: 80px;
    height: 80px;
    left: calc(50% - 40px);
    top: 40%;
}
.preloader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid $secondaryColour;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $secondaryColour transparent transparent transparent;
}
.preloader div:nth-child(1) {
    animation-delay: -0.45s;
}
.preloader div:nth-child(2) {
    animation-delay: -0.3s;
}
.preloader div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// MEDIA QUERIES
@media (max-width: 1210px) {
    .cuisineButtons {
        padding: 40px 40px 0px;
        a {
            width: 180px;
            height: 180px;
            border: 6px solid $tertiaryColour;
            &:hover,
            &:focus {
                border: 6px solid transparent;
            }
        }
    }
    .restaurantOptions {
        padding: 50px 40px 100px;
        li {
            width:calc((100% - 40px) / 2);
        }
        li:nth-child(3n - 1) {
            margin: 0px 0px;
        }
        li:nth-child(2n - 1) {
            margin-right: 40px;
        }
    }
}

@media (max-width: 1080px) {
    .cuisineButtons {
        padding: 30px 30px 0px;
        a {
            width: 160px;
            height: 160px;
            border: 4px solid $tertiaryColour;
            &:hover,
            &:focus {
                border: 4px solid transparent;
            }
        }
    }
}

@media (max-width: 900px) {
    .cuisineButtons {
        padding: 20px 20px 0px;
        a {
            width: 140px;
            height: 140px;
            border: 2px solid $tertiaryColour;
            &:hover,
            &:focus {
                border: 2px solid transparent;
            }
        }
    }
    .restaurantOptions {
        padding: 50px 20px 100px;
        li {
            width:calc((100% - 20px) / 2);
        }
        li:nth-child(2n - 1) {
            margin-right: 20px;
        }
        .itemDetails {
            margin-bottom: 20px;
        }
    }
}


@media (max-width: 785px) {
    .cuisineButtons {
        ul {
            display:none;
        }
        form {
            display:block;
        }
    }
    .restaurantOptions {
        li {
            width:100%;
        }
        li:nth-child(2n - 1) {
            margin-right: 0px;
        }
        .itemDetails {
            height:400px;
        }
    }
}

@media (max-width:475px) {
    .restaurantOptions {
        .itemDetails {
            height:425px;
        }
    }
}
// MAIN CONTENT ENDS HERE
